.wpcf7-form input[type='text'],
.wpcf7-form input[type="password"],
.wpcf7-form input[type="datetime"],
.wpcf7-form input[type="datetime-local"],
.wpcf7-form input[type="date"],
.wpcf7-form input[type="month"],
.wpcf7-form input[type="time"],
.wpcf7-form input[type="week"],
.wpcf7-form input[type="number"],
.wpcf7-form input[type="email"],
.wpcf7-form input[type="url"],
.wpcf7-form input[type="search"],
.wpcf7-form input[type="tel"],
.wpcf7-form input[type="color"],
.wpcf7-form textarea,
.wpcf7-form select {
  border: 1px solid transparent;
  outline: none;
}

.woocommerce .main-content .woocommerce-ordering select {
  border-color: #6c6b6b;
  outline: none;
  color: $primary-color;
}